# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# Virtual Environment
# -----------------------------
venv/

# -----------------------------
# YOLO Models
# -----------------------------
*.pt

# -----------------------------
# Videos
# -----------------------------
*.mp4

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Reports
# -----------------------------
reports/

# -----------------------------
# AI Object Detection Output
# -----------------------------
ai_object_detection/output/*.json